*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading{
    margin-bottom: 30px;
    text-decoration: underline;
    color: brown;
    font-size: 80px;
}

.box1{
    border:2px solid black;
    margin: 10px;

}

.box2{
    border:2px solid black;
    margin: 10px;

}
.box3{
    border:2px solid black;
    margin: 10px;
}
.box{
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
}
.box:hover{
    cursor: pointer;
    border: 4px solid black;
    transform: scale(1.1);
}

#output{
    margin: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
    background-color: white;
    text-align: center;
}
#para{
    font-size:x-large;
    color: rgb(31, 212, 244);
    margin: 10px 0;
}
#para2{
    font-size:x-large;
    color: black;
    margin-bottom: 10px;
}

.container2{
    display: flex;
}

